.border-top {
    position: relative;
}
.border-top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0.5px;
    width: 100%;
    background: -webkit-linear-gradient(left, #fff 0, #fff 69px, #D5D5D5 69px, #D5D5D5);
}